<html>

<head>
  <title>Small VanillaJS Vue.js App</title>
  <style>
    [v-cloak] {
      display: none
    }
  </style>
</head>

<body>
  <!-- 1. add an element to host your vue.js app here -->
  <!-- 2. add an address from { id, road, complement, zipCode, city, country, state -->
  <!-- 3. add another address to -->
  <!-- 4. add conditional fields -->
  <!-- 5. add a form to edit the address -->
  <!-- 6. allow dynamic adding / update / delete -->
  <!-- 7. maybe refactor somewhere ?! -->
  <div id="app">
    <div v-cloak>
      <strong>Address From</strong>
      <br/> Road : {{ from.road }}
      <br/> Zip Code : {{ from.zipCode }}
      <br/> City : {{ from.city }}<br/>
      <span v-if="from.complement">Complement: {{ from.complement }}<br/></span>
      <span v-if="from.country">Country: {{ from.country }}<br/></span>
      <span v-if="from.state">State: {{ from.state }}<br/></span>
    </div>
    <div v-cloak>
      <strong>Address To</strong>
      <br/> Road : {{ to.road }}
      <br/> Zip Code : {{ to.zipCode }}
      <br/> City : {{ to.city }}
      <br/>
      <span v-if="to.complement">
        Complement:
        <span v-bind="to.complement"></span><br/></span>
      <span v-if="to.country">Country: {{ to.country }}<br/></span>
      <span v-if="to.state">State: {{ to.state }}<br/></span>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        from: {
          road: '52 rue Jacques Babinet',
          zipCode: '31000',
          city: 'Toulouse',
          complement: 'Makina Corpus',
          country: 'Occitanie'
        }, to: {
          road: 'place du Capitole',
          zipCode: '31000',
          city: 'Toulouse',
          state: 'France'
        }
      }
    })
  </script>
</body>

</html>
